[Desktop Entry]
Type=Application
Name=SeND
Comment=Compact Matrix desktop client
Exec=SeND
Icon=net.deltie.deltiecord
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupNotify=true
StartupWMClass=deltiecord
Keywords=Matrix;Chat;Messaging;
